<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CodeForger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="CodeForger.Properties.Settings.CodeForgerDBConnectionString1"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\CodeForgerDB.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="CodeForger.Properties.Settings.CodeForgerDBConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\CodeForgerDB.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CodeForger.Properties.Settings.CodeForgerDBConnectionString2"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\CodeForgerDB.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="CodeForger.Properties.Settings.CodeForgerDBConnectionString3"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\CodeForgerDB.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="CodeForger.Properties.Settings.CodeForgerDBConnectionString4"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\bin\Debug\CodeForgerDB.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <CodeForger.Properties.Settings>
            <setting name="AccountLogin" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="RememberAccount" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OpenFileTitle" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="OpenFileContents" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="OpenFilePath" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="OpenFileIsExternal" serializeAs="String">
                <value>null</value>
            </setting>
        </CodeForger.Properties.Settings>
    </userSettings>
</configuration>